<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/serviciosya" />
        <property name="username" value="postgres" />
        <property name="password" value="root" />
    </bean>

    <!-- Hibernate 4 Annotation SessionFactory Bean definition-->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.capgemeini.serviciosya.beans.entity" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</prop>
                <!--<prop key="hibernate.current_session_context_class">thread</prop>-->
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="countryDao" class="com.capgemeini.serviciosya.repository.orm.CountryDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="provinceDao" class="com.capgemeini.serviciosya.repository.orm.ProvinceDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="cityDao" class="com.capgemeini.serviciosya.repository.orm.CityDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="providerDao" class="com.capgemeini.serviciosya.repository.orm.ProviderDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="consumerDao" class="com.capgemeini.serviciosya.repository.orm.ClientDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="occupationDao" class="com.capgemeini.serviciosya.repository.orm.OccupationDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>


</beans>